# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Editor specific files
.vscode/
.idea/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Compiled output
/build
/dist
/out

# Dependency lock files
package-lock.json
yarn.lock

# Logs and debug files
*.log
logs/
*.log.*
*.pid
*.seed
*.pid.lock

# Other
.DS_Store
*.tmp
*.swp
Thumbs.db
.cache

